:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-btn {
  background-color: var(--red-color);
  outline: none;
  border: none;
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-btn:hover{ 
  color: var(--yellow-color);
}
.main-btn:focus {
  box-shadow: none  ;
}
.main-title::after {
  content: '';
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
/* start navbar */

  .navbar {
    background-color: var(--dark-color);
  }

  .navbar .nav-link {
    color: #fff;

  }
.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: var(--green-color  );
}
.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .search svg {
  color: var(--green-color);
}
.navbar-toggler {
  color: #fff;
  font-size: 25px;
  border-color: #fff;
}
.navbar-toggler:focus {
  box-shadow: none;
}
/* end navbar */

/* start landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 70px);
}
/* end landing */
/* start features */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.number {
  font-size: 12rem;
  color: var(--section-color);
}
.icon {
  color: var(--green-color);
}
.features .feat h4 {
  color: var(--yellow-color);
}
/* end features */
/* start our work */
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--red-color);
}
.our-work .box {
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.our-work .box::before {
  content: attr(data-work );  
  position: absolute;
  background-color: rgb(51 209 204 / 76%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateX(calc(100% + 10px));
}
.our-work .box:hover::before {
  transform: translateX(0);
}
/* end our work */
/* start stuff */
.stuff .desc {
  max-width: 500px;
}
/* end stuff */

/* start team */
.team {
  background-color: var(--section-color);
}
.team h2 {
  color: var(--yellow-color);
}
.team .box h4 {
  background-color: var(--green-color);
}
/* end team */
/* start project */
.project {
  background-color: var(--dark-color);
}
/* end project */
/* start sub */
.sub {
  background-color: var(--yellow-color);
}
.sub input[type = "text"] {
  border: none;
  border-bottom: 1px solid #fff;
}
.sub input[type="text"]:focus {
  outline: none;
}
.sub input::placeholder {
  color: #fff;
}
.sub input[type="submit"] {
  background-color: var(--dark-color);
  color: yellow;
}
/* end sub */
/* start footer */
.footer {
  background-color: var(--dark-color);
}
.footer .btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.footer .copy-right > span{
  color: var(--green-color);
}
.footer .copy-right div span {
  color: var(--yellow-color);
}
.footer .contact ul svg {
  height: 20px;
  height: 20px;
}
.footer .contact .facebook {
  background-color: #1877f2;
}
.footer .contact .linkedin {
  background-color: #0077b5;
}
.footer .contact .twitter {
  background-color: #1da1f2;
}
.footer .contact .youtube {
  background-color: #ff0000;
}
/* end footer */